* {
    margin: 0;
    padding: 0;
    background: #2e353d;
    color: white;
    
}

#game {
    border-collapse: collapse;
    justify-content: center;
    margin: 2% auto 0;
}

/* #score {
    float:right;
} */

td {
    text-align: center;
}

td.cell {
    width: 20px;
    height: 20px;
    border: 1px dotted #eee;
    border-collapse: collapse;
}
td.yes {
    background: #009641;
}