* {
    margin: 0;
    padding: 0;
    
}

body {
    background: #2e353d;
}

#wrapper {
    justify-content: center;
    text-align: center;
    margin: 2% auto 0;
    color: white; 
}

#description {
    width: 50%;
    margin: 0 auto;
    color: green;
}

#main {
    display: inline-block;
    margin: 15px;
}

#game {
    border-collapse: collapse;
    float: left;
}

#score {
    float: right;
    margin: 20px;
}

#score input {
    margin: 5px auto;
    border-style: solid;
    border-width: 1px;
    width: 80px;
}

#score p select {
    margin: 5px auto;
    border-style: solid;
    border-width: 1px;
    width: 80px;
}

#score button {
    border-radius: 2px;
    margin: 7px 0 0 0;
}

td {
    text-align: center;
}

td.cell {
    width: 20px;
    height: 20px;
    border: 1px dotted #eee;
    border-collapse: collapse;
}
td.yes {
    background: #009641;
}

.vert-text {
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    text-align: right;
    /* white-space: nowrap; */
}